@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

html,
body {
  background-color: #f8fafc;
  overflow-x: hidden;
}

html.dark,
html.dark body {
  background-color: #020617;
}
